<% provide(:title, "Posts") %>
<p id="notice"><%= notice %></p>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--11-col">
    <h1>Crazy Faker posts</h1>
  </div>
</div>

<div class="mdl-grid">
<% @posts.each do |post| %>
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <strong><a href="posts/<%= post.id %>"><%= post.title %></a></strong> written by <%= post.author %>
  </div>
  <div class="mdl-cell mdl-cell--6-col"><%= post.content %></div>
  <span><%= link_to 'Show', post %></span> | <span>
  <br/><br/><br/>
<% end %>
</div>

--- <%= link_to 'Want to make one?', new_post_path %> ---