<% provide(:title, "Post") %>
<p id="notice"><%= notice %></p>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--11-col"><h1><%= @post.title %></h1></div>
</div>


<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col">
    <h3>&quot;<%= @post.title %>&quot;</h3>
    <p>Written by: <%= @post.author %></p>
    <p><%= @post.content %></p>
  </div>
  <div class="mdl-cell mdl-cell--2-col">
  </div>
</div>


